Practical Data Science
Project 2

Josh Ragen
Jeremy Xue

Permalink to full data source
http://ghdx.healthdata.org/gbd-results-tool?params=gbd-api-2016-permalink/c992f36d933723fd033ccdb9c3ef2a33

Permalink to specific data source (just HIV/AIDS, TB, Malaria)
http://ghdx.healthdata.org/gbd-results-tool?params=gbd-api-2016-permalink/acffd0c7209d119075df13f7fb5802da


Loading the data in:

In [207]:
import pandas as pd
import numpy as np
import copy

import statsmodels.api as sm
import statsmodels.formula.api as smf
from statsmodels.formula.api import ols
import scipy.stats as stats
from sklearn import svm
from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

ImportError: cannot import name 'CategoricalEncoder'

In [3]:
#dat = pd.read_csv('full_data.csv')
dat = pd.read_csv('reduced_data.csv')
dat = dat.drop(['upper', 'lower', 'measure', 'sex'], axis = 1)
dat

,location,age,cause,metric,year,val
0,Kenya,Under 5,Tuberculosis,Number,2000,333.036316
1,Kenya,Under 5,Tuberculosis,Rate,2000,6.454670
2,Kenya,Under 5,Neglected tropical diseases and malaria,Number,2000,9546.056132
3,Kenya,Under 5,Neglected tropical diseases and malaria,Rate,2000,185.014795
4,Kenya,5-14 years,Neglected tropical diseases and malaria,Number,2000,1300.215171
5,Kenya,5-14 years,Neglected tropical diseases and malaria,Rate,2000,14.941310
6,Kenya,15-49 years,Neglected tropical diseases and malaria,Number,2000,1533.580658
7,Kenya,15-49 years,Neglected tropical diseases and malaria,Rate,2000,10.357415
8,Kenya,50-69 years,Neglected tropical diseases and malaria,Number,2000,905.006296
9,Kenya,50-69 years,Neglected tropical diseases and malaria,Rate,2000,45.708312
10,Kenya,70+ years,Neglected tropical diseases and malaria,Number,2000,587.668739
11,Kenya,70+ years,Neglected tropical diseases and malaria,Rate,2000,113.981907
12,Kenya,Under 5,Malaria,Number,2000,9306.138544
13,Kenya,Under 5,Malaria,Rate,2000,180.364885
14,Kenya,5-14 years,Malaria,Number,2000,1202.376875
15,Kenya,5-14 years,Malaria,Rate,2000,13.817009
16,Kenya,15-49 years,Malaria,Number,2000,1307.050039
17,Kenya,15-49 years,Malaria,Rate,2000,8.827484
18,Kenya,50-69 years,Malaria,Number,2000,764.968401
19,Kenya,50-69 years,Malaria,Rate,2000,38.635548
20,Kenya,70+ years,Malaria,Number,2000,495.725413
21,Kenya,70+ years,Malaria,Rate,2000,96.148943
22,Grenada,Under 5,Tuberculosis,Number,2001,0.007037
23,Grenada,Under 5,Tuberculosis,Rate,2001,0.065397
24,Grenada,5-14 years,Tuberculosis,Number,2001,0.007810
25,Grenada,5-14 years,Tuberculosis,Rate,2001,0.032003
26,Grenada,15-49 years,Tuberculosis,Number,2001,0.322424
27,Grenada,15-49 years,Tuberculosis,Rate,2001,0.631634
28,Grenada,50-69 years,Tuberculosis,Number,2001,0.267330
29,Grenada,50-69 years,Tuberculosis,Rate,2001,2.626805
...,...,...,...,...,...,...
131890,Cape Verde,Under 5,Malaria,Number,2016,0.060912
131891,Cape Verde,Under 5,Malaria,Rate,2016,0.081128
131892,Cape Verde,5-14 years,Malaria,Number,2016,0.015366
131893,Cape Verde,5-14 years,Malaria,Rate,2016,0.015206
131894,Cape Verde,15-49 years,Malaria,Number,2016,0.123810
131895,Cape Verde,15-49 years,Malaria,Rate,2016,0.041641
131896,Cape Verde,50-69 years,Malaria,Number,2016,0.057932
131897,Cape Verde,50-69 years,Malaria,Rate,2016,0.101719
131898,Cape Verde,70+ years,Malaria,Number,2016,0.050909
131899,Cape Verde,70+ years,Malaria,Rate,2016,0.280644
131900,The Gambia,Under 5,Tuberculosis,Number,2016,20.089066
131901,The Gambia,Under 5,Tuberculosis,Rate,2016,5.479364
131902,The Gambia,5-14 years,Tuberculosis,Number,2016,8.487594
131903,The Gambia,5-14 years,Tuberculosis,Rate,2016,1.484982
131904,The Gambia,15-49 years,Tuberculosis,Number,2016,175.550721
131905,The Gambia,15-49 years,Tuberculosis,Rate,2016,18.696473
131906,The Gambia,50-69 years,Tuberculosis,Number,2016,138.124566
131907,The Gambia,50-69 years,Tuberculosis,Rate,2016,99.335910
131908,The Gambia,70+ years,Tuberculosis,Number,2016,116.578105
131909,The Gambia,70+ years,Tuberculosis,Rate,2016,407.587248
131910,The Gambia,Under 5,HIV/AIDS,Number,2016,24.878316
131911,The Gambia,Under 5,HIV/AIDS,Rate,2016,6.785649
131912,The Gambia,5-14 years,HIV/AIDS,Number,2016,28.067902
131913,The Gambia,5-14 years,HIV/AIDS,Rate,2016,4.910736
131914,The Gambia,15-49 years,HIV/AIDS,Number,2016,697.858409
131915,The Gambia,15-49 years,HIV/AIDS,Rate,2016,74.323199
131916,The Gambia,50-69 years,HIV/AIDS,Number,2016,115.181198
131917,The Gambia,50-69 years,HIV/AIDS,Rate,2016,82.835584
131918,The Gambia,70+ years,HIV/AIDS,Number,2016,11.290788
131919,The Gambia,70+ years,HIV/AIDS,Rate,2016,39.475518

In [4]:
dat.cause = dat.cause.replace(['HIV/AIDS', 'Tuberculosis', 'Malaria'], ['hiv', 'tb', 'mal'])

dat = dat[dat.cause != 'Neglected tropical diseases and malaria']
dat.cause.value_counts()

tb     32980
mal    32980
hiv    32980
Name: cause, dtype: int64

In [5]:
#dat.merge(dat, left_on = ['location', 'age', 'metric', 'year', 'cause'], right_on= ['location', 'age', 'metric', 'year', 'cause']).head()

#dat is just the data frame
#'col' is what gets split into multiple new columns
#'samecols' is what to keep as the constants, they MUST be unique factor combinations for each row
#'vals' is what numbers we want to go into the new coulumns
#'rm_col' says whether to get rid of the original value column (only do if you don't want to use it again)
#Function to run the pivot
def splitrow(dat, col, samecols, vals, rm_col = True):
    df = copy.deepcopy(dat)
    #need to know how many unique levels there are for later
    n = len(df[col].value_counts())
    #Creating a single column to join on, as pivot requires it
    df['joincol'] = df[samecols].apply(lambda x: ''.join(x.astype(str)), axis=1)
    #Pivoting the table to make a new one with the columns we need
    tempdf = df.pivot(index = 'joincol', columns = col, values = vals)
    tempdf['joincol'] = tempdf.index
    #Merging together the two tables into one
    df = tempdf.merge(df, how = 'inner', on = 'joincol')
    #removing the join column
    df = df.drop(['joincol', vals], axis = 1)
    #If we want to remove the original column (no more joins to make), we remove duplicate rows
    if rm_col == True:
        df = df.drop(col, axis = 1)
        df = df.iloc[::n].reset_index()
        df = df.drop('index', axis = 1)
    return(df)

df = splitrow(dat, 'cause', ['location', 'age', 'metric', 'year'], 'val')

In [6]:
print(len(df))
df

32980

,hiv,mal,tb,location,age,metric,year
0,42.913628,771.122729,7138.658456,Afghanistan,15-49 years,Number,2000
1,45.543918,815.365474,7314.421455,Afghanistan,15-49 years,Number,2001
2,48.742938,894.241365,7277.983272,Afghanistan,15-49 years,Number,2002
3,52.410990,959.198303,7338.422563,Afghanistan,15-49 years,Number,2003
4,56.410928,973.515865,7419.208364,Afghanistan,15-49 years,Number,2004
5,60.669123,1005.361284,7380.569093,Afghanistan,15-49 years,Number,2005
6,64.718914,1030.273832,7327.581444,Afghanistan,15-49 years,Number,2006
7,68.885252,1036.418240,7180.659954,Afghanistan,15-49 years,Number,2007
8,73.398280,1048.697136,7042.798090,Afghanistan,15-49 years,Number,2008
9,77.863640,1054.140110,6897.832141,Afghanistan,15-49 years,Number,2009
10,81.546382,1047.034785,6720.757280,Afghanistan,15-49 years,Number,2010
11,85.143681,1041.332577,6580.291320,Afghanistan,15-49 years,Number,2011
12,89.711855,1062.631924,6446.955695,Afghanistan,15-49 years,Number,2012
13,97.528771,1170.972922,6451.898699,Afghanistan,15-49 years,Number,2013
14,107.601515,1219.271339,6400.666592,Afghanistan,15-49 years,Number,2014
15,119.589843,1283.071817,6335.591662,Afghanistan,15-49 years,Number,2015
16,126.709308,1325.554673,6251.750139,Afghanistan,15-49 years,Number,2016
17,0.503869,9.054106,83.818267,Afghanistan,15-49 years,Rate,2000
18,0.512019,9.166599,82.231059,Afghanistan,15-49 years,Rate,2001
19,0.521340,9.564549,77.843223,Afghanistan,15-49 years,Rate,2002
20,0.532257,9.741092,74.524995,Afghanistan,15-49 years,Rate,2003
21,0.545428,9.412766,71.735113,Afghanistan,15-49 years,Rate,2004
22,0.561319,9.301748,68.286092,Afghanistan,15-49 years,Rate,2005
23,0.581775,9.261394,65.869495,Afghanistan,15-49 years,Rate,2006
24,0.604157,9.089888,62.977854,Afghanistan,15-49 years,Rate,2007
25,0.628862,8.985033,60.341325,Afghanistan,15-49 years,Rate,2008
26,0.650120,8.801511,57.593243,Afghanistan,15-49 years,Rate,2009
27,0.660475,8.480336,54.433989,Afghanistan,15-49 years,Rate,2010
28,0.662224,8.099192,51.179657,Afghanistan,15-49 years,Rate,2011
29,0.667037,7.901017,47.935229,Afghanistan,15-49 years,Rate,2012
...,...,...,...,...,...,...,...
32950,8805.878976,322.143740,436.535606,Zimbabwe,Under 5,Number,2004
32951,8489.406241,345.474356,488.352631,Zimbabwe,Under 5,Number,2005
32952,7901.331418,391.515775,537.359118,Zimbabwe,Under 5,Number,2006
32953,7309.559093,441.821178,627.910018,Zimbabwe,Under 5,Number,2007
32954,6546.803573,467.790897,661.434287,Zimbabwe,Under 5,Number,2008
32955,5615.996697,437.248362,681.386032,Zimbabwe,Under 5,Number,2009
32956,4638.595873,525.090889,725.493769,Zimbabwe,Under 5,Number,2010
32957,3599.467073,564.405095,743.484007,Zimbabwe,Under 5,Number,2011
32958,2568.997890,587.868196,675.662203,Zimbabwe,Under 5,Number,2012
32959,2002.011636,584.429863,626.122024,Zimbabwe,Under 5,Number,2013
32960,1474.887093,650.517542,597.265777,Zimbabwe,Under 5,Number,2014
32961,1065.267691,687.142597,531.360027,Zimbabwe,Under 5,Number,2015
32962,1042.436947,745.340029,497.229569,Zimbabwe,Under 5,Number,2016
32963,521.226401,9.474615,17.492263,Zimbabwe,Under 5,Rate,2000
32964,522.568045,10.808910,18.964000,Zimbabwe,Under 5,Rate,2001
32965,514.032119,12.676578,19.963829,Zimbabwe,Under 5,Rate,2002
32966,494.568071,15.151596,22.380976,Zimbabwe,Under 5,Rate,2003
32967,473.583619,17.325016,23.477056,Zimbabwe,Under 5,Rate,2004
32968,449.568268,18.295073,25.861390,Zimbabwe,Under 5,Rate,2005
32969,410.309516,20.331086,27.904608,Zimbabwe,Under 5,Rate,2006
32970,370.163053,22.374246,31.797963,Zimbabwe,Under 5,Rate,2007
32971,322.061892,23.012394,32.538440,Zimbabwe,Under 5,Rate,2008
32972,267.810614,20.851108,32.493326,Zimbabwe,Under 5,Rate,2009
32973,213.950973,24.219335,33.462734,Zimbabwe,Under 5,Rate,2010
32974,160.542353,25.173427,33.160651,Zimbabwe,Under 5,Rate,2011
32975,111.082156,25.419120,29.215288,Zimbabwe,Under 5,Rate,2012
32976,84.169774,24.570951,26.323798,Zimbabwe,Under 5,Rate,2013
32977,60.497175,26.683041,24.498751,Zimbabwe,Under 5,Rate,2014
32978,42.807031,27.612341,21.352328,Zimbabwe,Under 5,Rate,2015
32979,41.158886,29.428509,19.632281,Zimbabwe,Under 5,Rate,2016

In [7]:
df = splitrow(df, 'metric', ['location', 'age', 'year'], 'hiv', rm_col = False)
df = df.rename(columns = {'Number':'hiv_num', 'Rate':'hiv_rate'})

df = splitrow(df, 'metric', ['location', 'age', 'year'], 'tb', rm_col = False)
df = df.rename(columns = {'Number':'tb_num', 'Rate':'tb_rate'})

df = splitrow(df, 'metric', ['location', 'age', 'year'], 'mal')
df = df.rename(columns = {'Number':' mal_num', 'Rate':'mal_rate'})

df.head()

,mal_num,mal_rate,tb_num,tb_rate,hiv_num,hiv_rate,location,age,year
0,771.122729,9.054106,7138.658456,83.818267,42.913628,0.503869,Afghanistan,15-49 years,2000
1,815.365474,9.166599,7314.421455,82.231059,45.543918,0.512019,Afghanistan,15-49 years,2001
2,894.241365,9.564549,7277.983272,77.843223,48.742938,0.521340,Afghanistan,15-49 years,2002
3,959.198303,9.741092,7338.422563,74.524995,52.410990,0.532257,Afghanistan,15-49 years,2003
4,973.515865,9.412766,7419.208364,71.735113,56.410928,0.545428,Afghanistan,15-49 years,2004

In [8]:
codes = pd.read_csv('country_codes.csv')

codes = codes.drop_duplicates()
#codes.head()

In [9]:
#This merges in the country codes, but more importantly, it puts in info about what part of the world each country is in.
print(len(df))
df = df.merge(codes, how = 'left', left_on = 'location', right_on = 'location')
print(len(df))
df.columns

16490
16490

Index([' mal_num', 'mal_rate', 'tb_num', 'tb_rate', 'hiv_num', 'hiv_rate',
       'location', 'age', 'year', 'location_code', 'gbd_region',
       'gbd_superregion'],
      dtype='object')

Source of data
http://data.uis.unesco.org/#

In [171]:
demo = pd.read_csv('demographic_data.csv')
print(demo.Indicator.value_counts())
#demo.DEMO_IND.value_counts()

Total population                                                            3961
Population growth (annual %)                                                3879
Rural population (% of total population)                                    3865
Population aged 25-64 years                                                 3807
Population aged 65 years or older                                           3807
Population aged 15-24 years                                                 3807
Population aged 14 years or younger                                         3807
GDP (current LCU)                                                           3734
GDP per capita (current LCU)                                                3696
DEC alternative conversion factor (LCU per US$)                             3645
GNI (current LCU)                                                           3614
GDP (current US$)                                                           3603
GDP per capita (current US$)                                                3603
Official exchange rate (LCU per US$, period average)                        3590
GDP (constant LCU)                                                          3574
GDP deflator (base year varies by country)                                  3571
GNI per capita (current LCU)                                                3565
GDP growth (annual %)                                                       3562
GDP at market prices (constant 2010 US$)                                    3524
Mortality rate, infant (per 1,000 live births)                              3474
Fertility rate, total (births per woman)                                    3396
GNI per capita, Atlas method (current US$)                                  3392
Life expectancy at birth, total (years)                                     3389
PPP conversion factor, GDP (LCU per international $)                        3382
GDP per capita, PPP (constant 2011 international $)                         3377
GDP, PPP (constant 2011 international $)                                    3377
GDP, PPP (current international $)                                          3374
General government total expenditure (current LCU)                          3372
Price level ratio of PPP conversion factor (GDP) to market exchange rate    3349
GNI per capita, PPP (current international $)                               3319
GDP per capita, PPP (current international $)                               3151
PPP conversion factor, private consumption (LCU per international $)        3127
Prevalence of HIV, total (% of population ages 15-49)                       2365
Total debt service (% of GNI)                                               2146
Poverty headcount ratio at $1.90 a day (PPP) (% of population)              1030
Poverty headcount ratio at $3.10 a day (PPP) (% of population)               771
Name: Indicator, dtype: int64

200101               3961
SP_POP_GROW          3879
SP_RUR_TOTL_ZS       3865
200343               3807
200345               3807
200144               3807
200151               3807
NY_GDP_MKTP_CN       3734
NY_GDP_PCAP_CN       3696
PA_NUS_ATLS          3645
NY_GNP_MKTP_CN       3614
NY_GDP_MKTP_CD       3603
NY_GDP_PCAP_CD       3603
PA_NUS_FCRF          3590
NY_GDP_MKTP_KN       3574
NY_GDP_DEFL_ZS       3571
NY_GNP_PCAP_CN       3565
NY_GDP_MKTP_KD_ZG    3562
NY_GDP_MKTP_KD       3524
SP_DYN_IMRT_IN       3474
SP_DYN_TFRT_IN       3396
NY_GNP_PCAP_CD       3392
SP_DYN_LE00_IN       3389
PA_NUS_PPP           3382
NY_GDP_MKTP_PP_KD    3377
NY_GDP_PCAP_PP_KD    3377
NY_GDP_MKTP_PP_CD    3374
XTGOV_IMF            3372
PA_NUS_PPPC_RF       3349
NY_GNP_PCAP_PP_CD    3319
NY_GDP_PCAP_PP_CD    3151
PA_NUS_PRVT_PP       3127
SH_DYN_AIDS_ZS       2365
DT_TDS_DECT_GN_ZS    2146
SI_POV_DDAY          1030
SI_POV_2DAY           771
Name: DEMO_IND, dtype: int64

In [165]:
demo = pd.read_csv('demographic_data.csv')
#Only keeping 6 indicators, Total Population, Population Growth, Rural Population,
#   GDP (USD), GDP per capita (USD), and Fertility Rate.
demo = demo.drop(['TIME', 'Flag Codes', 'Flags'], axis = 1)
keepFacs = ['200101', 'SP_POP_GROW', 'SP_RUR_TOTL_ZS', 'SP_DYN_IMRT_IN',
            'NY_GDP_PCAP_CD', 'NY_GDP_MKTP_CD', 'SP_DYN_TFRT_IN', 'SP_DYN_LE00_IN']
keepInd = []
for i in range(len(demo)):
    if demo.DEMO_IND[i] not in keepFacs:
        keepInd.append(False)
    else:
        keepInd.append(True)
demo = demo[keepInd]

In [166]:
demo.head()

,DEMO_IND,Indicator,LOCATION,Country,Time,Value
0,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,1999,1.755
1,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,2000,1.756
2,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,2001,1.739
3,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,2002,1.756
4,SP_DYN_TFRT_IN,"Fertility rate, total (births per woman)",AUS,Australia,2003,1.748

In [167]:
#Reshaping the data here
dem_p = splitrow(demo, 'DEMO_IND', ['LOCATION', 'Country', 'Time'], 'Value')

dem_p = dem_p.rename(columns = {'200101':'Population', 'NY_GDP_MKTP_CD':'GDP', 'NY_GDP_PCAP_CD':'GDPperCapita',
                                'SP_DYN_IMRT_IN':'InfantMortality', 'SP_DYN_LE00_IN':'LifeExpectancy',
                               'SP_DYN_TFRT_IN':'FertilityRate', 'SP_POP_GROW':'Pop_growth', 'SP_RUR_TOTL_ZS':'RuralPop'})

#dem_p
dem_p

,Population,GDP,GDPperCapita,InfantMortality,LifeExpectancy,FertilityRate,Pop_growth,RuralPop,Indicator,LOCATION,Country,Time
0,89.005,1.722799e+09,19356.20339,NaN,73.67949,1.903,1.96056,52.873,"Fertility rate, total (births per woman)",ABW,Aruba,1999
1,90.853,1.873453e+09,20620.70063,NaN,73.72420,1.872,2.05503,53.283,"Life expectancy at birth, total (years)",ABW,Aruba,2000
2,92.898,1.920263e+09,20670.65566,NaN,73.78444,1.846,2.22593,53.661,Population growth (annual %),ABW,Aruba,2001
3,94.992,1.941095e+09,20434.29944,NaN,73.86217,1.823,2.22906,54.028,Rural population (% of total population),ABW,Aruba,2002
4,97.017,2.021302e+09,20834.51020,NaN,73.95883,1.803,2.10935,54.394,GDP (current US$),ABW,Aruba,2003
5,98.737,2.228279e+09,22567.82492,NaN,74.07190,1.787,1.75735,54.760,GDP per capita (current US$),ABW,Aruba,2004
6,100.031,2.331006e+09,23302.83199,NaN,74.19990,1.774,1.30204,55.125,Total population,ABW,Aruba,2005
7,101.220,2.623726e+09,25921.02605,NaN,74.48276,1.763,0.38406,55.853,"Fertility rate, total (births per woman)",ABW,Aruba,2007
8,101.353,2.791961e+09,27546.89939,NaN,74.62768,1.764,0.13131,56.217,"Life expectancy at birth, total (years)",ABW,Aruba,2008
9,101.453,2.498933e+09,24631.43486,NaN,74.77115,1.769,0.09862,56.579,Population growth (annual %),ABW,Aruba,2009
10,101.669,2.467704e+09,24271.94042,NaN,74.91063,1.776,0.21268,56.941,Rural population (% of total population),ABW,Aruba,2010
11,102.053,2.584464e+09,25324.72036,NaN,75.04766,1.783,0.37698,57.302,GDP (current US$),ABW,Aruba,2011
12,103.187,NaN,NaN,NaN,75.31973,1.796,0.59291,57.942,"Fertility rate, total (births per woman)",ABW,Aruba,2013
13,103.795,NaN,NaN,NaN,75.45678,1.800,0.58749,58.221,Rural population (% of total population),ABW,Aruba,2014
14,104.822,NaN,NaN,NaN,NaN,NaN,0.45993,58.696,Rural population (% of total population),ABW,Aruba,2016
15,19403.676,NaN,NaN,93.1,54.97515,7.569,2.82072,79.030,Total population,AFG,Afghanistan,1999
16,20966.463,2.461666e+09,117.40969,88.4,56.06071,7.392,4.25150,78.404,"Life expectancy at birth, total (years)",AFG,Afghanistan,2001
17,21979.923,4.128821e+09,187.84509,86.1,56.65354,7.271,4.72053,78.085,"Life expectancy at birth, total (years)",AFG,Afghanistan,2002
18,23064.851,4.583644e+09,198.72854,83.6,57.26588,7.136,4.81804,77.763,"Life expectancy at birth, total (years)",AFG,Afghanistan,2003
19,24118.979,5.285466e+09,219.14135,81.1,57.89122,6.988,4.46892,77.438,"Life expectancy at birth, total (years)",AFG,Afghanistan,2004
20,25070.798,6.275074e+09,250.29413,78.5,58.51559,6.827,3.87047,77.105,"Life expectancy at birth, total (years)",AFG,Afghanistan,2005
21,25893.450,7.057598e+09,272.56308,76.0,59.12595,6.651,3.22863,76.763,"Life expectancy at birth, total (years)",AFG,Afghanistan,2006
22,26616.792,9.843842e+09,369.83580,73.4,59.70885,6.460,2.75523,76.413,"Life expectancy at birth, total (years)",AFG,Afghanistan,2007
23,27294.031,1.019053e+10,373.36112,70.8,60.25673,6.254,2.51257,76.054,"Life expectancy at birth, total (years)",AFG,Afghanistan,2008
24,28004.331,1.248694e+10,445.89330,68.2,60.76461,6.038,2.56911,75.687,"Life expectancy at birth, total (years)",AFG,Afghanistan,2009
25,28803.167,1.593680e+10,553.30029,65.7,61.23546,5.816,2.81262,75.311,"Life expectancy at birth, total (years)",AFG,Afghanistan,2010
26,29708.599,1.793024e+10,603.53702,63.3,61.67424,5.595,3.09512,74.926,"Life expectancy at birth, total (years)",AFG,Afghanistan,2011
27,30696.958,2.053654e+10,669.00905,61.0,62.09298,5.380,3.27270,74.532,"Life expectancy at birth, total (years)",AFG,Afghanistan,2012
28,31731.688,2.004633e+10,631.74497,58.8,62.50161,5.174,3.31522,74.129,"Life expectancy at birth, total (years)",AFG,Afghanistan,2013
29,32758.020,2.005019e+10,612.06965,56.8,62.90268,4.981,3.18320,73.718,"Life expectancy at birth, total (years)",AFG,Afghanistan,2014
...,...,...,...,...,...,...,...,...,...,...,...,...
3617,12366.165,6.777385e+09,548.05873,60.7,44.28759,4.022,1.17060,65.830,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2001
3618,12500.525,6.342116e+09,507.34800,61.0,44.06063,4.001,1.08065,65.415,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2002
3619,12633.897,5.727592e+09,453.35116,61.2,44.13063,3.989,1.06128,65.521,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2003
3620,12777.511,5.805598e+09,454.36067,61.8,44.50595,3.984,1.13032,65.706,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2004
3621,12940.032,5.755215e+09,444.76051,62.3,45.21095,3.985,1.26391,65.890,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2005
3622,13124.267,5.443896e+09,414.79623,62.8,46.26705,3.991,1.41372,66.074,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2006
3623,13329.909,5.291950e+09,396.99822,62.8,47.63585,4.001,1.55473,66.257,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2007
3624,13558.469,4.415703e+09,325.67857,62.0,49.24944,4.014,1.70011,66.440,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2008
3625,13810.599,8.621574e+09,624.27224,60.6,51.02890,4.024,1.84250,66.622,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2009
3626,14086.317,1.014186e+10,719.97952,58.0,52.87780,4.028,1.97676,66.804,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2010
3627,14386.649,1.209845e+10,840.94988,55.0,54.69720,4.019,2.10967,66.985,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2011
3628,14710.826,1.424249e+10,968.16387,50.8,56.40771,3.996,2.22831,67.166,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2012
3629,15054.506,1.545177e+10,1026.38829,47.8,57.94051,3.957,2.30937,67.346,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2013
3630,15411.675,1.589105e+10,1031.10462,44.4,59.24432,3.903,2.34480,67.499,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2014
3631,15777.451,1.630467e+10,1033.41584,42.0,60.27934,3.836,2.34564,67.624,"Fertility rate, total (births per woman)",ZWE,Zimbabwe,2015
3632,16150.362,1.661996e+10,1029.07665,40.0,NaN,NaN,2.33607,67.723,"Mortality rate, infant (per 1,000 live births)",ZWE,Zimbabwe,2016
3633,147.687,6.262741e+09,42405.49714,NaN,77.26834,1.402,0.69032,69.551,"Fertility rate, total (births per woman)",ZZA,Channel Islands,1999
3634,148.725,6.439703e+09,43299.40114,NaN,77.51400,1.402,0.70038,69.535,Population growth (annual %),ZZA,Channel Islands,2000
3635,149.793,6.232906e+09,41610.13058,NaN,77.77663,1.404,0.71554,69.505,Rural population (% of total population),ZZA,Channel Islands,2001
3636,150.901,6.663669e+09,44159.21077,NaN,78.05168,1.408,0.73697,69.443,GDP per capita (current US$),ZZA,Channel Islands,2002
3637,152.038,7.332245e+09,48226.39668,NaN,78.33317,1.411,0.75065,69.381,GDP (current US$),ZZA,Channel Islands,2003
3638,153.170,8.553643e+09,55844.11669,NaN,78.61610,1.413,0.74179,69.319,"Life expectancy at birth, total (years)",ZZA,Channel Islands,2004
3639,155.411,9.676173e+09,62261.82801,NaN,79.16193,1.417,0.72133,69.195,Total population,ZZA,Channel Islands,2006
3640,156.513,1.151461e+10,73569.64496,NaN,79.41541,1.420,0.70659,69.133,"Fertility rate, total (births per woman)",ZZA,Channel Islands,2007
3641,157.581,NaN,NaN,NaN,79.65249,1.424,0.68005,69.071,Population growth (annual %),ZZA,Channel Islands,2008
3642,159.581,NaN,NaN,NaN,80.07134,1.436,0.61474,68.946,Total population,ZZA,Channel Islands,2010
3643,160.497,NaN,NaN,NaN,80.25302,1.444,0.57236,68.884,Rural population (% of total population),ZZA,Channel Islands,2011
3644,162.180,NaN,NaN,NaN,80.58112,1.459,0.50813,68.729,"Fertility rate, total (births per woman)",ZZA,Channel Islands,2013
3645,162.969,NaN,NaN,NaN,80.73500,1.465,0.48532,68.637,"Life expectancy at birth, total (years)",ZZA,Channel Islands,2014
3646,164.541,NaN,NaN,NaN,NaN,NaN,0.47701,68.423,Rural population (% of total population),ZZA,Channel Islands,2016

In [169]:
df_mod = df.merge(dem_p, how = 'left', left_on = ['location', 'year'], right_on = ['Country', 'Time'])

df_mod.columns

Index([' mal_num', 'mal_rate', 'tb_num', 'tb_rate', 'hiv_num', 'hiv_rate',
       'location', 'age', 'year', 'location_code', 'gbd_region',
       'gbd_superregion', 'Population', 'GDP', 'GDPperCapita',
       'InfantMortality', 'LifeExpectancy', 'FertilityRate', 'Pop_growth',
       'RuralPop', 'Indicator', 'LOCATION', 'Country', 'Time'],
      dtype='object')

In [351]:
test = df_mod['gbd_region'].astype('category')
test.unique()

[Asia, South, Europe, Central, North Africa/Middle East, NaN, Sub-Saharan Africa, Central, ..., Asia, East, Latin America, Central, Oceania, Europe, Western, Asia Pacific, high-income]
Length: 20
Categories (19, object): [Asia, South, Europe, Central, North Africa/Middle East, Sub-Saharan Africa, Central, ..., Latin America, Central, Oceania, Europe, Western, Asia Pacific, high-income]

In [271]:
#Fitting the model here, setting the predicted variable (mal_num) as being predicted by a combination of other factors
#mod = ols(formula = "hiv_rate ~ age + gbd_region + gbd_superregion + Population + GDP + GDPperCapita + FertilityRate + Pop_growth + RuralPop",
#          data = df_mod).fit()
formt = "hiv_rate ~ age + gbd_region + gbd_superregion + Population + GDP + GDPperCapita + FertilityRate + InfantMortality + Pop_growth + RuralPop"
#mod = ols(formula = formt, data = df_mod).fit()
#mod.summary()
mod = ols(formula = formt, data = df_mod)
model = mod.fit()
lassoFit = mod.fit_regularized(method='elastic_net', L1_wt=1.0, alpha = 0.01)
#Need to do this workaround because of bug in statsmodels
final = sm.regression.linear_model.OLSResults(mod, lassoFit.params, model.normalized_cov_params)
print(np.mean(final.resid**2))
final.summary()

#lassoFit.params

15154.818393615524

0.5447362405772872

In [354]:
#I know there's an easier way than this...
def makeRepSeq(n, f):
    s = n //  f
    l = []
    for i in range(1, f+1):
        l.extend([i] * s)
    return l

#Writing the funciton to run the cross validation
def runFoldCV(dat, params, y, folds):
    datC = dat.dropna(axis=0, how='any')
    dfRand = datC.sample(frac = 1).reset_index(drop = True)
    n = len(dfRand)
    splitSeq = np.array(makeRepSeq(n, folds))
    mseList = []
    form = y + '~' + ' + '.join(params)
    for i in range(1, folds+1):
        testdf = dfRand[splitSeq == i]
        traindf = dfRand[splitSeq != i]
        olsf = ols(formula = form, data = traindf)
        #modf = olsf.fit()
        modf = olsf.fit_regularized(method='elastic_net', L1_wt=1.0, alpha = 0.01)
        preds = modf.predict(testdf)
        mse = np.mean((preds - testdf[y])**2)
        mseList.append(mse)
        print(mse)
    return(np.mean(mseList))


terms = ['age', 'gbd_region', 'gbd_superregion', 'Population', 'GDP', 'GDPperCapita',
         'FertilityRate', 'InfantMortality', 'LifeExpectancy', 'Pop_growth', 'RuralPop']
yvar = 'mal_rate'
form = yvar + '~' + ' + '.join(terms)
runFoldCV(df_mod, terms, 'mal_rate', 5)

10560.812914451622
13202.504587559695
14171.987739732618
11094.435708596528
11964.014890014249

12198.751168070943

In [353]:
#Helper function to check type of data
def isQuant(L):
    for i in range(len(L)):
        if not (isinstance(L[i], float) or isinstance(L[i], int)):
            return False
    return True

def isCateg(L):
    for i in range(len(L)):
        #NOTE: Want better check, for when data is read in incorrectly.
        if not isinstance(L[i], str):
            return False
    return True

def getPredMatrix(dat, terms, y):
    predMatrix = pd.DataFrame()
    #modDat[y] = self.dat[y]
    predMatrix["Intercept"] = [1] * len(dat)
    for i in range(len(terms)):
        col = terms[i]
        print(col)
        var = dat[col]
        if dat.dtypes[col] == 'float64':
            predMatrix[col] = var
        else:
            #Splitting the different levels up based on how many there are.
            un_vals = var.unique()
            levels = sorted(list(set(var)))
            #Base Variable is the first alphabetically
            base = levels.pop(0)
            for l in levels:
                newCol = []
                #Need to manually go through and code in 0s and 1s
                for obs in var:
                    if obs == l:
                        newCol.append(1)
                    else:
                        newCol.append(0)
                colName = col + "[T." + l + "]"
                predMatrix[colName] = newCol
    predMatrix[y] = dat[y]
    return predMatrix

terms = ['age', 'gbd_region', 'gbd_superregion', 'Population', 'GDP', 'GDPperCapita',
         'FertilityRate', 'InfantMortality', 'LifeExpectancy', 'Pop_growth', 'RuralPop']
test = df_mod.dropna(axis=0, how='any')
X = test
X = getPredMatrix(X, terms, 'hiv_rate')
X
#X = X.dropna(axis=0, how='any').reset_index(drop = True)
#Y = X['hiv_rate']
#X = X.drop('hiv_rate', axis = 1)

#reg_mod = LinearRegression()
#reg_mod.fit(X, Y)
#type(df_mod['gbd_region'][1])
#list(set(df_mod.dropna(axis=0, how='any')['gbd_region']))
#for idx, col_name in enumerate(X.columns):
#    print("The coefficient for {} is {}".format(col_name, reg_mod.coef_[idx]))
#reg_mod.score(X, Y)

age
gbd_region
gbd_superregion
Population
GDP
GDPperCapita
FertilityRate
InfantMortality
LifeExpectancy
Pop_growth
RuralPop

,Intercept,age[T.5-14 years],age[T.50-69 years],age[T.70+ years],age[T.Under 5],"gbd_region[T.Asia, East]","gbd_region[T.Asia, South]","gbd_region[T.Asia, Southeast]",gbd_region[T.Caribbean],"gbd_region[T.Europe, Central]",...,gbd_superregion[T.Sub-Saharan Africa],Population,GDP,GDPperCapita,FertilityRate,InfantMortality,LifeExpectancy,Pop_growth,RuralPop,hiv_rate
0,1,0,0,0,0,0,1,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,0,0,0,0,0,1,0,0,0,...,0,20966.463,2.461666e+09,117.40969,7.392,88.4,56.06071,4.25150,78.404,0.512019
2,1,0,0,0,0,0,1,0,0,0,...,0,21979.923,4.128821e+09,187.84509,7.271,86.1,56.65354,4.72053,78.085,0.521340
3,1,0,0,0,0,0,1,0,0,0,...,0,23064.851,4.583644e+09,198.72854,7.136,83.6,57.26588,4.81804,77.763,0.532257
4,1,0,0,0,0,0,1,0,0,0,...,0,24118.979,5.285466e+09,219.14135,6.988,81.1,57.89122,4.46892,77.438,0.545428
5,1,0,0,0,0,0,1,0,0,0,...,0,25070.798,6.275074e+09,250.29413,6.827,78.5,58.51559,3.87047,77.105,0.561319
6,1,0,0,0,0,0,1,0,0,0,...,0,25893.450,7.057598e+09,272.56308,6.651,76.0,59.12595,3.22863,76.763,0.581775
7,1,0,0,0,0,0,1,0,0,0,...,0,26616.792,9.843842e+09,369.83580,6.460,73.4,59.70885,2.75523,76.413,0.604157
8,1,0,0,0,0,0,1,0,0,0,...,0,27294.031,1.019053e+10,373.36112,6.254,70.8,60.25673,2.51257,76.054,0.628862
9,1,0,0,0,0,0,1,0,0,0,...,0,28004.331,1.248694e+10,445.89330,6.038,68.2,60.76461,2.56911,75.687,0.650120
10,1,0,0,0,0,0,1,0,0,0,...,0,28803.167,1.593680e+10,553.30029,5.816,65.7,61.23546,2.81262,75.311,0.660475
11,1,0,0,0,0,0,1,0,0,0,...,0,29708.599,1.793024e+10,603.53702,5.595,63.3,61.67424,3.09512,74.926,0.662224
12,1,0,0,0,0,0,1,0,0,0,...,0,30696.958,2.053654e+10,669.00905,5.380,61.0,62.09298,3.27270,74.532,0.667037
13,1,0,0,0,0,0,1,0,0,0,...,0,31731.688,2.004633e+10,631.74497,5.174,58.8,62.50161,3.31522,74.129,0.691746
14,1,0,0,0,0,0,1,0,0,0,...,0,32758.020,2.005019e+10,612.06965,4.981,56.8,62.90268,3.18320,73.718,0.728574
15,1,1,0,0,0,0,1,0,0,0,...,0,33736.494,1.921556e+10,569.57792,4.802,54.9,63.29820,2.94323,73.297,0.774934
16,1,1,0,0,0,0,1,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,1,1,0,0,0,0,1,0,0,0,...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,1,1,0,0,0,0,1,0,0,0,...,0,20966.463,2.461666e+09,117.40969,7.392,88.4,56.06071,4.25150,78.404,0.014934
19,1,1,0,0,0,0,1,0,0,0,...,0,21979.923,4.128821e+09,187.84509,7.271,86.1,56.65354,4.72053,78.085,0.015836
20,1,1,0,0,0,0,1,0,0,0,...,0,23064.851,4.583644e+09,198.72854,7.136,83.6,57.26588,4.81804,77.763,0.016681
21,1,1,0,0,0,0,1,0,0,0,...,0,24118.979,5.285466e+09,219.14135,6.988,81.1,57.89122,4.46892,77.438,0.017477
22,1,1,0,0,0,0,1,0,0,0,...,0,25070.798,6.275074e+09,250.29413,6.827,78.5,58.51559,3.87047,77.105,0.018247
23,1,1,0,0,0,0,1,0,0,0,...,0,25893.450,7.057598e+09,272.56308,6.651,76.0,59.12595,3.22863,76.763,0.019011
24,1,1,0,0,0,0,1,0,0,0,...,0,26616.792,9.843842e+09,369.83580,6.460,73.4,59.70885,2.75523,76.413,0.019799
25,1,1,0,0,0,0,1,0,0,0,...,0,27294.031,1.019053e+10,373.36112,6.254,70.8,60.25673,2.51257,76.054,0.020604
26,1,1,0,0,0,0,1,0,0,0,...,0,28004.331,1.248694e+10,445.89330,6.038,68.2,60.76461,2.56911,75.687,0.021323
27,1,1,0,0,0,0,1,0,0,0,...,0,28803.167,1.593680e+10,553.30029,5.816,65.7,61.23546,2.81262,75.311,0.021941
28,1,1,0,0,0,0,1,0,0,0,...,0,29708.599,1.793024e+10,603.53702,5.595,63.3,61.67424,3.09512,74.926,0.022363
29,1,1,0,0,0,0,1,0,0,0,...,0,30696.958,2.053654e+10,669.00905,5.380,61.0,62.09298,3.27270,74.532,0.022876
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9615,1,0,0,1,0,0,0,0,0,0,...,1,2712.650,7.189482e+09,2650.35365,2.637,22.0,67.44556,1.64886,32.433,0.100464
9616,1,0,0,1,0,0,0,0,0,0,...,1,2761.516,1.040980e+10,3769.59527,2.716,20.3,67.87554,1.78538,31.462,0.110055
9617,1,0,0,1,0,0,0,0,0,0,...,1,2814.226,1.229277e+10,4368.08225,2.774,19.0,68.26315,1.89075,30.528,0.126154
9618,1,0,0,1,0,0,0,0,0,0,...,1,2869.107,1.258212e+10,4385.37935,2.805,17.8,68.59985,1.93136,29.634,0.143458
9619,1,0,0,1,0,0,0,0,0,0,...,1,2923.896,1.222651e+10,4181.58331,2.811,16.9,68.88261,1.89161,28.778,0.153569
9620,1,0,0,1,0,0,0,0,0,0,...,1,2976.877,1.174962e+10,3946.96207,2.793,16.1,69.11588,1.79578,27.960,0.166368
9621,1,0,0,1,0,0,0,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9622,1,0,0,1,0,0,0,0,0,0,...,1,2397.436,1.136896e+09,474.21334,2.143,48.6,62.91537,0.89133,42.867,0.000088
9623,1,0,0,1,0,0,0,0,0,0,...,1,2419.776,1.267998e+09,524.01459,2.096,45.4,63.38180,0.92751,41.778,0.000133
9624,1,0,0,1,0,0,0,0,0,0,...,1,2443.659,1.396556e+09,571.50188,2.076,42.2,63.85468,0.98215,40.696,0.000194
9625,1,0,0,1,0,0,0,0,0,0,...,1,2469.286,1.595297e+09,646.05613,2.083,39.1,64.31805,1.04325,39.622,0.000272
9626,1,0,0,1,0,0,0,0,0,0,...,1,2496.832,1.992067e+09,797.83774,2.112,36.2,64.76515,1.10937,38.557,0.000372
9627,1,0,0,1,0,0,0,0,0,0,...,1,2526.446,2.523472e+09,998.82267,2.165,33.4,65.19912,1.17908,37.506,0.000497
9628,1,0,0,1,0,0,0,0,0,0,...,1,2558.012,3.414056e+09,1334.65190,2.239,30.8,65.63095,1.24168,36.465,0.000656
9629,1,0,0,0,1,0,0,0,0,0,...,1,2591.670,4.235000e+09,1634.08143,2.331,28.4,66.07288,1.30721,35.436,0.000862
9630,1,0,0,0,1,0,0,0,0,0,...,1,2628.131,5.623216e+09,2139.62563,2.434,26.1,66.52768,1.39705,34.419,0.001155
9631,1,0,0,0,1,0,0,0,0,0,...,1,2668.289,4.583850e+09,1717.89876,2.539,24.0,66.99027,1.51645,33.420,0.001552
9632,1,0,0,0,1,0,0,0,0,0,...,1,2712.650,7.189482e+09,2650.35365,2.637,22.0,67.44556,1.64886,32.433,0.001971
9633,1,0,0,0,1,0,0,0,0,0,...,1,2761.516,1.040980e+10,3769.59527,2.716,20.3,67.87554,1.78538,31.462,0.002494
9634,1,0,0,0,1,0,0,0,0,0,...,1,2814.226,1.229277e+10,4368.08225,2.774,19.0,68.26315,1.89075,30.528,0.003328
9635,1,0,0,0,1,0,0,0,0,0,...,1,2869.107,1.258212e+10,4385.37935,2.805,17.8,68.59985,1.93136,29.634,0.004462
9636,1,0,0,0,1,0,0,0,0,0,...,1,2923.896,1.222651e+10,4181.58331,2.811,16.9,68.88261,1.89161,28.778,0.005809
9637,1,0,0,0,1,0,0,0,0,0,...,1,2976.877,1.174962e+10,3946.96207,2.793,16.1,69.11588,1.79578,27.960,0.007337
9638,1,0,0,0,1,0,0,0,0,0,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9639,1,0,0,0,1,0,0,0,0,0,...,1,2397.436,1.136896e+09,474.21334,2.143,48.6,62.91537,0.89133,42.867,0.008260
9640,1,0,0,0,1,0,0,0,0,0,...,1,2419.776,1.267998e+09,524.01459,2.096,45.4,63.38180,0.92751,41.778,0.010424
9641,1,0,0,0,1,0,0,0,0,0,...,1,2443.659,1.396556e+09,571.50188,2.076,42.2,63.85468,0.98215,40.696,0.012900
9642,1,0,0,0,1,0,0,0,0,0,...,1,2469.286,1.595297e+09,646.05613,2.083,39.1,64.31805,1.04325,39.622,0.014829
9643,1,0,0,0,1,0,0,0,0,0,...,1,2496.832,1.992067e+09,797.83774,2.112,36.2,64.76515,1.10937,38.557,0.016242
9644,1,0,0,0,1,0,0,0,0,0,...,1,2526.446,2.523472e+09,998.82267,2.165,33.4,65.19912,1.17908,37.506,0.018622

In [183]:
newterms = copy.copy(terms)
terms = ['age', 'gbd_region', 'gbd_superregion', 'Population', 'GDP', 'GDPperCapita',
         'FertilityRate', 'InfantMortality', 'LifeExpectancy', 'Pop_growth', 'RuralPop']

X = df_mod[terms]
Y = df_mod['mal_rate']
reg_mod = LinearRegression()
reg_mod.fit(X, Y)

ValueError: could not convert string to float: 'Sub-Saharan Africa'

In [145]:
np.array([1,2,3,1]) == 1
X[np.array([1,2,3,1]) != 1]
' + '.join(['1','32', 'safsd', '  ', 'a90843'])

'1 + 32 + safsd +    + a90843'